@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body
	width: 100%
	margin: 0
	padding: 0
	font-family: "Roboto", Arial, sans-serif
	font-size: 16px
	line-height: 24px
	font-weight: 400
	text-transform: none
	color: #000000

	background-color: #ffffff
	background-image: url("../img/main_bg.phng")
	background-position: top center
	background-repeat: none
a
	text-decoration: none

p
	color: #283136
	text-align: left
ul
	list-style: none

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

.button
	font: inherit

	text-align: center
	color: #ffffff
	vertical-align: middle
	text-transform:	uppercase

	background-color: #fb565a
	border: none

	&:hover
		background-color: #e74246
	&:focus
		box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
		background-color: #d7373b;

.container	
	padding: 0 0px
	margin: 0 140
	max-width: 1160px
// .container-nav
// 	padding: 0 70px 0 140px 

.header 
	background-color:#eeeeee
	background-image: url(../img/header_bg.png)
	background-position: 0 0
	background-repeat: no-repeat


.navigation
	display: flex
	justify-content: space-between
	align-items: baseline
	max-width: 1160px
	padding: 50px 0 18px 0
	&__list
		display: flex
		justify-content: space-between
		width: 438px
	&__item
		line-height: 30px
		font-weight: 500
		text-transform: uppercase
	.basket
		width: 115px
		color: #000000
		img
			padding-right: 26px
.carousel
	&__item
		display: flex
		justify-content: space-between
		text-align: left
	&__title
		display: block
		width: 390px
		margin: 67px 0 0 0
		font-size: 55px
		line-height: 55px
	&__text
		margin: 28px 0 61px 0
	a	
		padding: 18px 55px 18px 53px
		color: #ffffff
	&__img
		padding: 0 0 0 55px

.benefits
	padding: 80px 0  0
	margin: 0 0 98px 0
	&__list
		display: flex
		justify-content: space-between
		padding: 0
		
	&__item
		padding: 0 100px 0 0

	&__title
		padding: 26px 0 8px 0
		text-align: left
		font-size: 24px
		line-height: 30px
		font-weight: 700
		text-transform: uppercase
	&__text
		padding-bottom: 35px

	a
		padding: 18px 39px 18px 39px
		color: #ffffff

.wrapper-colums
	// position: relative
	display: flex
	flex-direction: grow
	margin: 0 0 0 0
	padding: 80px 0 0 0
	border-top: 3px solid #eeeeee
	// .about-us:before
	// 	position: absolute
	// 	content: ""

	// 	width: 1160px
	// 	height: 2.5px

	// 	transform: translate(0,-70px)

	// 	background-color: #eeeeee
		
	.about-us
		&__list
			display: flex
			flex-direction: column
		&__line
			display: inline-block
			width: 25px
			margin: 0 0 4px 0
			border: solid 1px #fb565a
		&__text
			display: inline-block
			margin: 0 0 40px 11px
		&__title
			position:
			padding-bottom: 35px
			font-size: 45px
			font-weight: 500
			line-height: 45px

		&__subtitle
			padding-bottom: 35px
			font-weight: 700
	.successes
		margin: 0 0 0 150px
		&__title
			padding: 40px 0 50px 17px
			font-size: 16px
			font-weight: 700
		&__list
			display: flex
			justify-content: space-between
			padding: 0
		&__item
			.successes-item
				&__big
					padding-bottom: 27px
					font-size: 45px
					font-weight: 700
				&__small
					line-height: 18px			
					color: #666c70
.clients
	padding: 50px 0 20px 0
	border-top: solid 2px #eeeeee
	border-bottom: solid 2px #eeeeee
	&__list
		display: flex
		justify-content: space-between
	&__item

.footer
	width: 100%
	&__map
		min-height: 416px
		margin: 80px 0 80px 0
		padding: 54px 0 0 140px
		background-image: url(../img/map.png)
		background-position: 0 0
		background-repeat: no-repeat
	&__contacts
		padding: 54px 65px 32px 50px
		width: 319px
		height: 308px
		background-color: #ffffff
		.footer-contacts
			&__title
				font-size: 18px
				font-weight: 700
				line-height: 30px
			&__text
				color: #666666
			&__button
				width: 219px
				height: 50px

.footer-social
	display: flex
	margin-bottom: 76px
	&__list
		display: flex
		flex-wrap: nowrap
		justify-content: space-between
		width: 280px
		margin: 0 0 0 0
		padding: 0
		list-style-type: none
	&__item
		position: relative
		display: block

		width: 1px
		height: 1px
		border: 40px solid #e1e1e1
		border-radius: 50%

		background-color: #000000 /** #e1e1e1 **/

	&__item-link::before
		content: ""			
		position: absolute			

		top: -25px
		left: -20px
		width: 44px			
		height: 44px


		background-repeat: no-repeat			
		background-position: center center			

	&__item-link--vk::before
			background-image: url("../svg/vk-icon.svg")
	&__item-link--fb::before
			background-image: url("../svg/fb-icon.svg")
	&__item-link--inst::before
		background-image: url("../svg/insta-icon.svg")
	&__title, &__text
		padding: 0 0 0 140px
	&__text
		margin: 0



